   <div class="item">
        <div>Avatar URL</div>
        <div>
            <input 
            type="url" 
            name="avatar_url" 
            placeholder="http://"
            value="{{ teacher.avatar_url }}">
        </div>
    </div>

    <div class="item">
        <div>Teacher Name</div>
        <div>
            <input 
            type="text" 
            name="name" 
            placeholder="My name"
            value="{{ teacher.name }}">
        </div>
    </div>

    <div class="item">
        <div>Age</div>
        <div>
            <input type="date" 
            name="birth_date" 
            placeholder=""
            value="{{ teacher.birth_date }}">
        </div>
    </div>

    <div class="item">
        <div>Education level</div>
        <div>
            <select name="education_level">
                <option 
                    value="Associate"
                    {% if teacher.education_level == 'Associate' %}
                        selected
                    {% endif %}>Associate
                </option>
                <option 
                    value="Graduate"
                    {% if teacher.education_level == 'Graduate' %}
                        selected
                    {% endif %}>Graduate
                </option>
                <option 
                    value="Master"
                    {% if teacher.education_level == 'Master' %}
                        selected
                    {% endif %}>Master
                </option>
                <option 
                    value="Doctorate"
                    {% if teacher.education_level == 'Doctorate' %}
                        selected
                    {% endif %}>Doctorate
                </option>
            </select>
        </div>
    </div>

    <div class="item">
        <div>Class type</div>
        <div>
            <span>
                <input 
                    type="radio" 
                    name="class_type" 
                    value="Presential" 
                    {% if teacher.class_type == 'Presential' %}
                        checked
                    {% endif %}>Presential
            </span>
            <span>
                <input 
                    type="radio" 
                    name="class_type" 
                    value="Online"
                    {% if teacher.class_type == 'Online' %}
                        checked
                    {% endif %}>Online
            </span>
        </div>
    </div>

    <div class="item">
        <div>Subjects taught</div>
        <div>
            <input type="text" 
            name="subjects_taught"
            placeholder="Separate the segments with a comma ( , )."
            value="{{ teacher.subjects_taught }}">
        </div>
    </div>

    <button id="save" type="submit">Save</button>
