{% extends 'layouts.njk' %}

{% block content %}

        <main>
            <div class="index">  
                <h1>Avance para o próximo nível</h1>

                <p>Embarque no foguete do conhecimento</p>

                <a href="http://discordapp.com/invite/gCRAFhc" target="_blank">
            
                    <strong>Acessar comunidade</strong>
                </a>

                <img src="assets/moon.svg" alt="nextlevel">
        </main>

{% endblock %}
