<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/public/assets/favicon.ico" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">

        {% block head %}
            <title>Launchstore</title>
        {% endblock %}

    </head>
    <body>
       {% include "parts/header.njk" %}

    {% block content %}{% endblock %}
       
    {% include "parts/footer.njk" %}

    </body>
</html>